.Backgrnd{
  width: 100%;
  background: #191A1D;
  display: flex;
  flex-direction: column;
  height: 1800px;
}

.contact{
  height: 390px;
  width: 30vw;
  background: whitesmoke;
  padding: 35px;
}

.About{
  font-family: 'Archivo Black', sans-serif;
  font-size: 36px;
  font-weight: bolder;
}

.address{
  margin-top: 220px;
  font-family: 'Lato', sans-serif;
  color: gray;
}

.email{
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  color: gray
}

.wave{
  height: 20px;
  margin-right: 8px;
}

.description{
  height: 400px;
  width: 50vw;
  color: white;
  font-family:'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 0;
  margin-top: 30px;
  line-height: 1.6;
  font-weight: 200;
  min-width: 400px;
}

.clonePen{
  color: yellow;
  min-width: 500px;
}

.divisions{
  height: 350px;
  width: 500px;
  background: #FFDD40;
  margin: 40px;
  min-width: 330px;
}

.divisions1{
  height: 250px;
  width: 500px;
  background: transparent;
  color: white;
  margin: 40px;
  font-family:'Lato', sans-serif;
  font-size: 1.6rem;
}

.Devs{
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.Pic{
  height: 150px;
  border: 4px solid rgb(34, 34, 34);
  transform: rotate(-10deg) ;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .3s ease-out;
}

.Devs :hover .Pic{
  transform: rotate(0deg);
  -webkit-filter: none;
}

.devName{
  width: 300px;
  margin-top: 15px;
  margin-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 34px;
}

.coDev{
  width: 300px;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
}

.descrptn{
  font-family: 'Lato', sans-serif;
  margin: 50px 20px 20px 20px;
}

.row {
  width: 100vw;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.devInfo {
  float: right;
  text-align: left;
  width: 280px;
  margin-top: 50px;
}