.component-account {
    background-color: $bg-dark-black;
    min-height: 150vh;
    .account-container {
        position: relative;
        top: 4rem;
        width: 90%;
        margin: 0 auto;
        .account-header {
            .account-save {
                display: flex;
                justify-content: flex-end;
                button {
                    background-color: $btn-green;
                    padding: 15px;
                    border-radius: 5px;
                    &:hover {
                        background-color: $btn-green-hover;
                    }
                }
            }
            .account-links {
                display: flex;
                p {
                    margin-right: 1rem;
                    color: $text-white;
                }
            }
        }
        .account-grid {
            border: 1px solid blue;
            margin-top: 1.5rem;
            display: flex;
            justify-content: space-between;
            .account-avatar {
                width: 14%;
                border: 1px solid green;
                height: 25rem;
                background-color: $bg-dark-grey;
                padding: 1rem;
                .img-placeholder {
                    border: 1px solid yellow;
                    height: 45%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .dropzone {
                    height: 50%;
                    margin-top: 1rem;
                    .dropzone-container {
                        border: 1px dashed $text-grey;
                        height: 80%;
                        border-radius: 5px;
                        padding: 1rem;
                        text-align: center;
                        p {
                            color: $text-white;
                            text-transform: uppercase;
                            font-size: 0.8rem;
                        }
                        .dropzone-input {
                            display: flex;
                            align-items: center;
                            margin-top: 1rem;
                            justify-content: center;
                            button {
                                background-color: #000;
                                color: $text-white;
                                font-size: 0.8rem;
                                padding: 5px;
                                margin-left: 3px;
                                position: relative;
                                &:active {
                                    top: 2px;
                                }
                            } // input{
                            //     background-color: #000;
                            // }
                        }
                    }
                }
            }
            .account-information {
                border: 1px solid red;
                width: 58%;
                .information-box {
                    background-color: $bg-dark-grey;
                    margin-bottom: 1rem;
                    padding: 1rem;
                    .box-header {
                        h3 {
                            color: $text-white;
                            font-size: 1.5rem;
                            padding-bottom: 0.5rem;
                            border-bottom: 2px solid $text-grey;
                        }
                    }
                    .input-container {
                        border: 1px solid purple;
                        padding-right: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .input-group {
                            display: flex;
                            align-items: center;
                            border: 1px solid green;
                            width: 83%;
                            justify-content: space-between;
                            margin-top: 0.5rem;
                            h5 {
                                color: $text-light-white;
                                font-size: 1.1rem;
                                text-transform: uppercase; //     margin-right: 0.5rem;
                                width: 30%;
                                text-align: right;
                                margin-right: 0.5rem;
                            }
                            input {
                                padding: 10px;
                                margin-top: 0.7rem;
                                border-radius: 5px;
                                width: 70%;
                                margin-top: 0; // &:focus{
                                //     border: none;
                                // }
                            }
                        }
                    }
                }
                .textarea-group {
                    border: 1px solid red;
                    display: flex;
                    justify-content: space-between;
                    padding-right: 10px;
                    margin-top: 1rem;
                    .textarea {
                        width: 60%;
                        border: 1px solid blue;
                        textarea {
                            width: 100%;
                            height: 90px;
                            border-radius: 5px;
                        }
                        p {
                            color: $text-light-white;
                            margin-top: 0.75rem;
                            .small {
                                color: $text-grey;
                                font-size: 0.85rem;
                            }
                        }
                    }
                    .title {
                        width: 40%;
                        text-align: right;
                        padding-top: 1rem;
                        h5 {
                            margin-right: 0.5rem;
                            color: $text-light-white;
                            font-size: 1.1rem;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            .account-customize {
                border: 1px solid orange;
                width: 20%;
                .information-box {
                    border: 1px solid red;
                
                    background-color: $bg-dark-grey;
                    height: 50%;
                    padding: 1rem;
                    .box-header {
                        h3 {
                            color: $text-white;
                            font-size: 1.5rem;
                            padding-bottom: 0.5rem;
                            border-bottom: 2px solid $text-grey;
                        }
                    }
                    .img-placeholder{
                        height: 48%;
                        margin-top: 1rem;
                        width: 100%;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                    button{
                        background-color: $btn-babyblue;
                        width: 100%;
                        padding: 0.8rem;
                        color: $text-white;
                        border-radius: 5px;
                        font-size: 1.1rem;
                        margin-top: 1rem;
                        &:hover{
                            background-color: #009FDA;
                            cursor: pointer;
                        }
                    }
                    p{
                        margin-top: 1rem;
                        color: $text-grey;
                    }
                }
            }
        }
    }
}