@import url('https://fonts.googleapis.com/css?family=Lato');

$primary-black: #1D1E22;
$med-gray: #36383F;
$light-gray: #C5C8D4;

.editor {
    display: flex;
    text-align: left; 
}

.CodeMirror {
    font-size: 14px;
    height: 100%;
    width: calc(33.3vw - 3px);
    font-family: 'Source Code Pro';
    border-bottom: 15px solid $med-gray;
}

.CodeMirror textarea {
    z-index: -1;
}

.CodeMirror-scroll {
    width: 33.3vw;
    background-color: $primary-black;
    padding-top: 30px;
}

.CodeMirror-sizer {
    border-top: 0.5px solid $med-gray;
}

.CodeMirror-gutter {
    width: 15px !important;
    background-color: $med-gray;
    margin-right: 10px;
}

span {
    font-size: 10px;
}

.CodeMirror-gutters {
    margin-right: 30px;
    background-color: $primary-black !important;
    border: none !important;
}

.CodeMirror-linenumber {
    font-size: 10px;
    color: $med-gray !important;
    line-height: 2;
}

.CodeMirror-hscrollbar {
    width: 0px;
}

span {
    word-wrap: break-word;
}

.CodeMirror-scroll::-webkit-scrollbar {
    width: 5px;
}

.CodeMirror-scroll::-webkit-scrollbar-track {
    background-color: $primary-black;
}

.CodeMirror-scroll::-webkit-scrollbar-thumb {
    background-color: #666B7A;
    outline: 1px solid $light-gray;
}

.penFrame {
    width: calc(100vw - 10px);
    min-height: calc(100vh - 100px);
}

.editorHead {
    width: 100vw;
    height: 5px;
    background-color: $med-gray;
    margin: 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.editorSection {
    width: calc(33vw - 30px);
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    background-color: $primary-black;
    z-index: 500;
    position: relative;
    top: 15px;
    left: 0px;
    padding-left: 20px;
}

.settingsImg {
    width: 10px;
    height: 10px;
    padding: 4px 4px 2px 4px;
}

.editorSection button,
.editorSection h3 {
    display: inline-block;
    color: $light-gray;
    border-radius: 4px;
    margin: 5px;
    font-family: "Lato", sans-serif;
}

.editorSection button {
    background-color: #4E505A;
}


.penFooter {
    height: 20px;
    width: calc(100vw - 50px);
    background-color: $med-gray;
    margin-top: -3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.penFooter button {
    background-color: $primary-black;
    color: white;
    font-size: 10px;
    padding: 2px;
    border-radius: 2px;
}

.codeEditor {
    overflow-y: hidden;
}