@import url('https://fonts.googleapis.com/css?family=Lato');

.themeSelector {
    position: absolute;
    top: 0px;
    left: 0px;
}

$primary-black: #1D1E22;
$med-gray: #36383F;
$light-gray: #C5C8D4;
.codeEditor {
    // overflow: auto;
    overflow: hidden;
    
}
.pen-settings-popup-container {
    top: 100px;
    height: 150%;
    width: 100%;
    z-index: 600;
    position: absolute;
    .pen-settings-popup-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -40px;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.349);
    }
}

.signup-popup {
    position: absolute;
    z-index: 600;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    .signup-popup-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: 601;
        background-color: rgba(0, 0, 0, 0.349);

    }
    .signup-popup-container-postition {
        // position: fixed;
        // border: 3px solid blue;
        width: 50vw;
        margin: 0 auto;
        // transform: translate(50%, 0%);
    }
    .signup-popup-form-container {
        //  top: -30px;
        //  left: 25%;
        // margin: auto;
        transform: scale(.8) ;
        z-index: 602;
        // min-height: 700px;
        overflow: hidden;
        // width: 720px;
        margin: 0 auto;
        position: fixed;

    }
}
.editor {
    display: flex;
    text-align: left; 
}

.CodeMirror {
    font-size: 14px;
    height: 100%;
    width: calc(33vw);
    font-family: 'Source Code Pro';
}

.verticalResize {
    width: 100vw;
    height: 15px;
    background-color: $med-gray;
    border-top: 1px solid black;
}

.verticalResize:hover {
    cursor: row-resize;
}

.CodeMirror textarea {
    z-index: -1;
}

.CodeMirror-scroll {
    width: 32.5vw;
    height: calc(100% - 25px) !important;
    padding-top: 30px;
    padding-bottom: 10px !important;
    border-left: 15px solid #36383F;
}

.CodeMirror-gutter {
    width: 15px !important;
    background-color: $med-gray;
    margin-right: 10px;
    margin-top: 20px;
    height: 290px !important;
    display: none !important;
}

// .CodeMirror-sizer {
//     height: 300px !important;
// }

// .CodeMirror-gutter:hover {
//     cursor: col-resize;
// }

span {
    font-size: 15px;
}

.CodeMirror-gutters {
    margin-right: 30px;
    padding-right: 20px;
    border: none !important;
    display: none !important;
}

.CodeMirror-line {
    padding-left: 25px !important;
}

.CodeMirror-linenumber {
    font-size: 10px;
    line-height: 2;
    margin-left: 5px;
}

.CodeMirror-hscrollbar {
    width: 0px;
}

span {
    word-wrap: break-word;
}

.CodeMirror-scroll::-webkit-scrollbar {
    width: 7px;
}

.CodeMirror-scroll::-webkit-scrollbar-track {
    background-color: $primary-black;
}

.CodeMirror-scroll::-webkit-scrollbar-thumb {
    background-color: #666B7A;
    outline: 1px solid $light-gray;
}

.CodeMirror-vscrollbar {
    display: none !important;
}

.penFrame {
    width: calc(100vw - 10px);
    min-height: calc(100vh - 100px);
}

.editorHead {
    width: 100vw;
    height: 5px;
    background-color: $med-gray;
    margin: 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.editorSection {
    width: calc(33vw - 64.8px);
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    background-color: $primary-black;
    z-index: 500;
    position: relative;
    top: 15px;
    left: 0px;
    padding-left: 20px;
    border-bottom: 0.5px solid $med-gray;
    border-left: 15px solid $med-gray;
}

.settingsImg {
    width: 10px;
    height: 10px;
    padding: 4px 4px 2px 4px;
}

.editorSection button,
.editorSection h3 {
    display: inline-block;
    color: $light-gray;
    border-radius: 4px;
    margin: 5px;
    font-family: "Lato", sans-serif;
}

.editorSection button {
    background-color: #4E505A;
}


.penFooter {
    height: 50px;
    width: calc(100vw - 50px);
    background-color: $med-gray;
    margin-top: -3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-family: "Lato", sans-serif;
    button {
        background-color: $primary-black;
        color: white;
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 2px;
    }
    button:hover {
        cursor: pointer;
    }
}

.delete:hover {
    background-color: #ED5151;
}


