.editorSettings {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.themesContainer {
    color: lightgray;
    justify-content: space-around;
    font-family: "Lato", sans-serif;
    // background-color: #32333B;
    line-height: 1.5;
    > div:nth-child(1) {
        background-color: #32333B;
        margin-bottom: 20px;
        padding: 20px;
    }
    > div:nth-child(2) {
        background-color: #32333B;
        margin-top: 20px;
        padding: 20px;
    }
    .dark {
        background-color: black;
        display: flex;
        padding: 5px;
        border-radius: 3px;
        h3 {
            color: gray;
            margin-right: 4px;
        }
        h4 {
            color: orange;
        }
    }
    .light {
        background-color: white;
        display: flex;
        padding: 5px;
        border-radius: 3px;
        h3 {
            color: lightblue;
            margin-right: 4px;
        }
        h4 {
            color: darkmagenta;
        }
    }
    .columns {
        display: flex;
        > div {
            width: 33%;
        }
    }
}

.sampleEditor {
    background-color: #32333B;
    .CodeMirror {
        height: 500px;
        width: 450px;
        margin: 50px;
    }
    .CodeMirror-scroll {
        width: 100%;
        height: 100%;
    }
    .CodeMirror-gutter {
        height: 110%;
        margin: 0px;
    }
}