.Nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav1{
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  height: 63px;
  width: 100%;
}

.navContnr{
  display: flex;
  align-items: center;
}

.icon{
  height: 26px;
  position: relative;
  top: 5px;
}

.Name{
 width: 10%;
 min-width: 175px;
 display: flex;
 align-items: bottom;
 font-family: 'Lato', sans-serif;
 color: white;
 margin-left: 15px;
 font-size: 24px;
 position: relative;
 bottom: 2px;
 cursor: pointer;
}

.Your{
  color: lightskyblue;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding-bottom: 4px;
}

.Prof{
  color: white;
  font-family:  "Lato", "Lucida Grande", "Lucida Sans Unicode";
  font-size: 16px;
}

.Exp{
  color: yellow;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding-bottom: 4px;
}

.Proj{
  color: white;
  font-family:  "Lato", "Lucida Grande", "Lucida Sans Unicode";
  position: relative;
  top: 8px;
  font-weight: 500;
}

.Coll{
  color: white;
  font-family:  "Lato", "Lucida Grande", "Lucida Sans Unicode";
  position: relative;
  top: 9px;
}


.divProf{
  height: 70px;
  width: 80px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.divProf:hover .h-line{
  background: linear-gradient(to right, rgba(29,189,255,0.8) 0%, rgba(233,204,59,0.8) 34%, rgba(173,96,228,0.8) 68%, rgba(75,207,115,0.8) 100%);
}

.divExp:hover .p-line{
  background: rgb(0, 119, 255);
}

.divProj:hover .prj-line{
  background: yellow;
}

.divColl:hover .coll-line{
  background: #ae63e4;
}

.h-line{
  height: 4px;
  width: 50px;
  background: black;
  position: relative;
  top: 13px;
}

.p-line{
  height: 4px;
  width: 50px;
  background: rgb(0, 0, 0);
  position: relative;
  top: 13px;
}

.prj-line{
  height: 4px;
  width: 59px;
  background: rgb(0, 0, 0);
  position: relative;
  top: 21px;
}

.coll-line{
  height: 4px;
  width: 80px;
  background: rgb(0, 0, 0);
  position: relative;
  top: 20px;
}

.divExp{
  height: 70px;
  width: 80px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.divProj{
  height: 70px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 13px;
  cursor: pointer;
}

.divColl{
  height: 70px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 13px;
  cursor: pointer;
}

.nav2{
 display: flex;
 min-width: 150px;
 float: right;
  position: absolute;
  right: 10px;
}

.create{
  height: 45px;
  width: 108px;
  border-radius: 3px;
  background: #36383F;
  color: white;
  font-family:  "Lato", "Lucida Grande", "Lucida Sans Unicode";
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.create:hover{
  background: rgb(110, 109, 109)
}

.arrow{
  height: 30px;
}

.divMag{
  border-radius: 50px;
  background: rgb(137, 142, 158);
  position: relative;
  left: 15px;
  height: 40px;
}

.mag{
  height: 45px;
  cursor: pointer;
}

.divMag:hover{
  background: rgb(207, 206, 206)
}

.bell{
  height: 35px;
  margin-left: 15px;
  margin-top: 6px;
  cursor: pointer;
}

.userIcon{
  height: 44px;;
  width: 44px;
  background: gray;
  border-radius: 3px;
  margin-left: 15px;
  cursor: pointer;
}

// .createWindow{
//   width: 250px;
//   background: rgb(206, 204, 204);
//   position: absolute;
//   z-index: 1000;
//   left: 77.3%;
//   top: 55px;
//   border-radius: 3px;
// }

.createWindow:hover{
  background: white
}

.newPen{
  height: 50px;
  width: 99%;
  border: 1px lightgray solid;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
}

.icon1{
  height: 30px;
  margin-left: 8px;
  margin-right: 15px;
  border-radius: 3px;
}

.show-nav{
  display: none;
}

.createWin{
  height: 51px;
  width: 250px;
  background: rgb(206, 204, 204);
  position: absolute;
  z-index: 1000;
  left: 77.3%;
  top: 55px;
  border-radius: 3px;
  display: inline;
  transition: .8s height ease-out;
}