.Nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link{
  text-decoration-line: none;
}

.clonepen:hover{
  color: white;
}

.nav1{
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  height: 63px;
  width: 100%;
}

.navContnr{
  display: flex;
  align-items: center;
}

.icon{
  height: 26px;
  position: relative;
  top: 5px;
}

.Name{
 width: 10%;
 min-width: 175px;
 display: flex;
 align-items: bottom;
 font-family: 'Lato', sans-serif;
 color: white;
 margin-left: 15px;
 font-size: 24px;
 position: relative;
 bottom: 2px;
 cursor: pointer;
}

.Your{
  color: lightskyblue;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding-bottom: 4px;
}

.Prof{
  color: white;
  font-family:  "Lato", "Lucida Grande", "Lucida Sans Unicode";
  font-size: 16px;
}

.Exp{
  color: yellow;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding-bottom: 4px;
}

.Proj{
  color: white;
  font-family:  "Lato", "Lucida Grande", "Lucida Sans Unicode";
  position: relative;
  top: 8px;
  font-weight: 500;
}

.Coll{
  color: white;
  font-family:  "Lato", "Lucida Grande", "Lucida Sans Unicode";
  position: relative;
  top: 9px;
}


.divProf{
  height: 70px;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.divProf:hover .h-line{
  background: linear-gradient(to right, rgba(29,189,255,0.8) 0%, rgba(233,204,59,0.8) 34%, rgba(173,96,228,0.8) 68%, rgba(75,207,115,0.8) 100%);
}

.divExp:hover .p-line{
  background: rgb(0, 119, 255);
}

.divProj:hover .prj-line{
  background: yellow;
}

.divColl:hover .coll-line{
  background: #ae63e4;
}

.h-line{
  height: 4px;
  width: 50px;
  background: black;
  position: relative;
  top: 13px;
}

.p-line{
  height: 4px;
  width: 40px;
  background: rgb(0, 0, 0);
  position: relative;
  top: 13px;
}

.prj-line{
  height: 4px;
  width: 80px;
  background: rgb(0, 0, 0);
  position: relative;
  top: 21px;
}

.coll-line{
  height: 4px;
  width: 50px;
  background: rgb(0, 0, 0);
  position: relative;
  top: 20px;
}

.divExp{
  height: 70px;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.divProj{
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  cursor: pointer;
}

.divColl{
  height: 70px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 13px;
  cursor: pointer;
}

.nav2{
 display: flex;
 min-width: 150px;
 float: right;
  position: absolute;
  right: 10px;
}

.create{
  height: 45px;
  width: 108px;
  border-radius: 3px;
  background: #36383F;
  color: white;
  font-family:  "Lato", "Lucida Grande", "Lucida Sans Unicode";
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.create:hover{
  background: rgb(110, 109, 109)
}

.arrow{
  margin-left: 4px;
  margin-right: -5px;
  height: 30px;
}

.divMag{
  margin-right: 10px;
  border-radius: 50px;
  background: rgb(137, 142, 158);
  position: relative;
  left: 15px;
  height: 40px;
}

.mag{
  height: 45px;
  cursor: pointer;
}

.divMag:hover{
  background: rgb(207, 206, 206)
}

.bell{
  height: 35px;
  margin-left: 15px;
  margin-top: 6px;
  cursor: pointer;
}

.userIcon{
  height: 44px;;
  width: 44px;
  border-radius: 2px;
  margin-left: 15px;
  z-index: 2;
  cursor: pointer;
}

.createWindow:hover{
  // background: rgb(206, 204, 204);
  background-color: #C8C8C8;
  cursor: pointer;
}

.newPen{
  height: 50px;
  width: 99%;
  border: 1px lightgray solid;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
}

.icon1{
  height: 30px;
  margin-left: 8px;
  margin-right: 15px;
  border-radius: 3px;
}

.show-nav{
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 2000;
}

.createWin{
  transition: all 0.1s linear;
  height: 51px;
  width: 250px;
  background-color: #EFF0F5;
  position: absolute;
  z-index: 110;
  right: 162px;
  top: 55px;
  border-radius: 3px;
  display: inline;
  transition: .1s height ease-in-out;
  cursor: pointer;
}

.userWin{
  background: whitesmoke;
  height: 100px;
  width: 250px;
  z-index: 11;
  position: absolute;
  border-radius: 2px;
  right: 0px;
  top: 45px;
  z-index: 2000;
  display: inline;
  transition: .1s height ease-out;
}

.goTo{
  font-family:  "Lato", "Lucida Grande", "Lucida Sans Unicode";
  font-size: 11px;
  margin: 8px;
  margin-bottom: 3px;
  color: gray;
}

.logout:hover{
  background: lightgray;
}

.Profile{
 height: 30px;
 display: flex;
 align-items: center;
 padding-left: 10px;
 font-family:  "Lato", "Lucida Grande", "Lucida Sans Unicode";
 font-size: 14px;
 cursor: pointer;
 color: black;
}

.Profile:hover{
  background: lightgray;
}

.gearIcon{
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 4px;
}

.logoutIcon{
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 4px;
}

.nav-avatar{
  height: 44px;
  width: 44px;
  border-radius: 3px;
}

.signUp{
  height: 45px;
  width: 80px;
  background:#36383F;
  border-radius: 3px;
  margin-left: 25px;
}

.goToLink {
  color: black;
  text-decoration: none;
}


.settingsCtn {
  display: flex;
  justify-content: space-around;
  :nth-child(1) {
    margin-top: 0px;
  }
  div {
    padding: 5px 20px;
    border-radius: 3px;
  }
  div:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}