@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic|Lato');

$primary-black: #1D1E22;
// $med-gray: #36383F;
$med-gray: #32333B;
$light-gray: #C5C8D4;

.penInfoContainer {
    display: flex;
    flex-direction: column;
    background-color: $med-gray;
    border-radius: 0px 0px 4px 4px;
}

.penInfo,
.penPopularity {
    display: flex;
    align-items: center;
}

.pens-sizing-container {
    width: 100%;
    overflow-x: hidden;
    // max-width: 1500px;
}

.pensView {
    background-color: #191A1D;
    color: $light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.pensHeader {
    border-bottom: 3px solid #0EBEFF;
    margin: 15px 2%;
    margin-top: 0px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: $font-BHS;
    font-weight: bold;
}

.pensHeader h1 {
    font-size: 30px;
    color: white;
    margin: 10px 0px;
}

.pensDisplay {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // overflow-y: hidden;
    justify-content: space-around;
}

.pensHeader h4 {
    font-weight: normal;
    font-size: 12px;
    color: #0EBEFF;
    margin: 10px 0px;
}

.pensHeader .fa-arrow-right {
    margin-left: 5px;
}

.profilePicture {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 3px;
}

.pensFrame {
    width: 100%;
    overflow: hidden; 
    -ms-overflow: hidden;
    z-index: -1;
}

.overlayContainer:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }

.overlayContainer {
    position: relative;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

.pen-iframe-container {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    display: block;
    width: 100%;
    height: auto;
}

.overlayContainer .overlay {
    transition: .5s ease;
    position: absolute;
    text-align: left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 2px);
    border-bottom: 2px solid #0EBEFF;
    width: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
}

.overlayContainer:hover .middle {
    opacity: 1;
}

.overlayContainer .text {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin: 10px;
}
.pen-iframe-container {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    width: 100%;
    overflow:hidden;
    border-radius: 4px 4px 0px 0px;
}
.pen-iframe {
    height: 200%;
    width: 200%;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    transform: scale(.5);
    transition: opacity 0.4s left;
    transform-origin: top left;
}
.showPen {
    width: 30%;
    margin: 10px;
    font-family: "Lato", sans-serif;
    box-shadow: 3px 3px 3px #000000;
}

.fa-eye {
    font-size: 13px;
    margin: 10px;
    margin-bottom: 12px;
}

.penPopularity .fa {
    color: lightgray;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}

#displayUserName {
    color: white;
}

.penInfo {
    margin: 5px 10px;
    padding: 10px 0px;
    border-bottom: 0.1px solid $light-gray;
    font-family: "Lato", sans-serif;
}

.penInfo h3 {
    font-size: 15px;
    margin: 5px 0px;
    cursor: pointer;
}

.penInfo h5 {
    font-size: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.penPopularity h3 {
    font-size: 12px;
    cursor: context-menu;
}

.nextButton {
    border-radius: 2px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    padding: 10px;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 0px 20px;
}

.paginationButtons {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.paginationButtons .fa-angle-left {
    font-size: 20px;
    margin: 0px 10px 0px 0px;
}

.paginationButtons .fa-angle-right {
    font-size: 20px;
    margin: 0px 0px 0px 10px;
}

.nextButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.filterPens {
    color: #88888A;
    display: flex;
    margin-left: 2%;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
}

.filterPens button {
    margin: 0px;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #8F8F8F;
}

.filterPens button:hover {
    color: white;
    cursor: pointer;
}

.userLink {
    color: lightgray;
    text-decoration: none;
}

.userLink:hover {
    color: #0EBEFF;
    cursor: pointer;
}

.penLink {
    text-decoration: none;
}