.grayLine{
  height: 263px;
  width: 100%;
  background-image: url(
    https://tponsukcharoen.github.io/KhanAcademyThailand/bg-blue.jpg
  )
}

.b-line{
  height: 70px;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  min-width: 300px;
}

.Content{
  width: 100%;
  background: #191A1D;
}

.UserInfo{
  height: 300px;
  width: 400px;
  display: flex;
  color: white;
  position: absolute;
  left: 40%;
  top: 150px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.UserName{
  font-size: 40px;
  margin-bottom: 15px;
  font-family: 'Telex', sans-serif;
  font-weight: 600;
}

.Name2{
  margin-bottom: 18px;
  font-family: 'Lato', sans-serif;
}

.UserPic{
  height: 130px;
  width: 130px;
  background: rgb(24, 24, 24);
  border: 4px rgb(46, 45, 45) solid;
  box-shadow: 1px 1px rgb(29, 28, 28);
  overflow: hidden;
}

.Hire{
  font-family: 'Lato', sans-serif;
  position: relative;
  left: 95%;
  font-size: 11px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 3px;
  min-width: 42px;
  cursor: pointer;
}

.Hire:hover{
  background: whitesmoke;
  color: black;
}

.followers{
  color: gray;
  font-family: 'Lato', sans-serif;
  margin-left: 20px;
  cursor: pointer;
}

.followers:hover{
  color: whitesmoke
}

.EditP{
  height: 40px;
  width: 80px;
  z-index: 8;
  position: absolute;
  color: white;
  font-family: 'Lato', sans-serif;
  top: 85px;
  right: 40px;
  padding-left: 13px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  border: 3px solid white;
  border-radius: 3px;
  font-size: 15px;
  text-decoration-color: none; 
  cursor: pointer;
}

.EditP:hover{
  background: whitesmoke;
  text-decoration: none;
  color: black;
}

.link1{
  text-decoration-color: none;
}

h1{
  text-decoration: none;
}

.Pen-InputWrapper{
  height: 30px;
  width: 78%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  color: gray;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
  }
}

.Pens2{
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.Proj2{
  margin-right: 20px;
}

.Proj2:hover{
  color: whitesmoke;
  cursor: pointer;
}

.Inp-box{
  height: 30px;
  border-radius: 4px;
  z-index: 8;
  position: relative;
  top: 10px;
}

.ligthgray-line{
  height: 5px;
  width: 80%;
  background: gray;
}

.gray-line{
  height: 50px;
  width: 80%;
  background: #252527;
  margin-bottom: 20px;
}

.Pen-window{
  height: 600px;
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.avatar{
  height: 130px;

}

.pagination{
  width: 80px;
  border-radius: 2px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 0px 20px;
}

.pagination:hover{
  color: black;
  background: white
}

.nextButtonContainer {
  width: 90vw;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: black;
}