.component-showcase {
    background-color: $bg-dark-black;
    min-height: 100vh;
    padding-top: 3.25rem;
    .alert{
        background-color: #FFDD40;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
        display: none;
        p{
            padding: 10px 8px;
            font-size: 1.1rem;
        }
    }
    .showcase-container {
        // border: 1px solid red;
        width: 97%;
        margin: 0 auto;
        .showcase-grid {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            .row {
                display: flex;
            }
            .row:last-child {
                margin-top: 1rem;
            }
            .grid-item {
                min-height: 100px;
                width: 31%;
                .overlay {
                    .text {
                        display: none;
                    }
                } // border: 1px solid red;
                margin-bottom: 1rem;
                &:hover {
                    cursor: all-scroll;
                }
                .frame-overlay {
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 90%;
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                    &:hover {
                        cursor: all-scroll;
                    }
                    .pen-iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 200%;
                        height: 200%;
                        a {
                            cursor: all-scroll;
                        }
                    }
                }
            }
            .grid-item:nth-child(3n+2) {
                margin: 0 2%;
            }
            img {
                height: 100%;
                width: 100%;
                border-radius: 8px;
            }
        }
        .header {
            text-align: center;
            h1 {
                font-size: 2.5rem;
                color: $text-white;
                margin-bottom: 0.5rem;
            }
            p {
                color: $text-grey;
            }
        }
        .showcase-body-container {
            margin-top: 2.5rem;
            display: flex;
            justify-content: space-between;
            .nextButton {
                border-radius: 2px;
                background-color: transparent;
                border: 3px solid white;
                color: white;
                padding: 10px;
                font-family: "Lato", sans-serif;
                font-size: 15px;
                text-align: center;
                margin: 0 !important;
                margin-left: 10px !important;
            }
            .paginationButtons {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px 0 20px 0 !important;
                width: 65% !important;
                justify-content: flex-end;
            }
            .paginationButtons .fa-angle-left {
                font-size: 20px;
                margin: 0px 10px 0px 0px;
            }
            .paginationButtons .fa-angle-right {
                font-size: 20px;
                margin: 0px 0px 0px 10px;
            }
            .nextButton:hover {
                background-color: white;
                color: black;
                cursor: pointer;
            }
            .showcase-header {
                color: $text-white;
                text-align: center;
                border-bottom: 3px solid $text-grey;
                padding-bottom: 8px;
                h2 {
                    font-size: 1.75rem;
                }
                p {
                    font-size: 0.9rem;
                    margin-bottom: 0.25rem;
                }
            }
            .showcase-pens {
                width: 45%;
                height: 82vh;
                background-color: $dark-blue-gray;
                padding: 20px;
                border-radius: 5px;
            }
            .showcase-layout {
                width: 47%;
                background-color: $dark-blue-gray;
                padding: 20px;
                height: 140vh;
                border-radius: 5px;
                .frame-overlay {
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 90%;
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                    &:hover {
                        cursor: all-scroll;
                    }
                    .pen-iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 200%;
                        height: 200%;
                        a {
                            cursor: all-scroll;
                        }
                    }
                }
                .showcase-layout-container {
                    margin-top: 0.5rem;
                    .grid-item,
                    .showcase-main {
                        border: 1px dashed $text-grey;
                    }
                    .grid-item {
                        width: 31%;
                        margin-bottom: 1.5rem;
                    }
                    .showcase-main {
                        width: 100%;
                        min-height: 200px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        .frame-overlay {
                            position: relative;
                            width: 100%;
                            height: 0;
                            padding-bottom: 46.5%;
                            &:after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                            }
                            &:hover {
                                cursor: all-scroll;
                            }
                            .pen-iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 200%;
                                height: 200%;
                                a {
                                    cursor: all-scroll;
                                }
                            }
                        }
                    }
                }
                .delete-container {
                    text-align: center;
                    margin: 1rem 0;
                    padding: 1rem 0;
                    p,
                    i {
                        color: $text-white;
                    }
                    i {
                        font-size: 4rem;
                        margin-bottom: 0.25rem;
                    }
                }
            }
            .showcase-box {
                width: 98%;
                margin: 0 auto;
                .showcase-filter {
                    // border: 1px solid blue;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 0.75rem;
                    .filter-links {
                        display: flex;
                        p {
                            color: $text-white;
                            font-size: 1.25rem;
                        }
                        p:last-child {
                            margin-left: 10px;
                        }
                    }
                    .filter-box {
                        input {
                            border-radius: 5px;
                            padding: 8px 4px;
                        }
                    }
                }
            }
        }
    }
}