.showCaseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    border: 1px solid red;
    .showPen{
        margin: 0 !important;
        margin-top: 1rem !important;
        width: 32% !important;
    }

    .showPen:nth-child(3n+3){
        margin-left:  2% !important;
        margin-right:  2% !important;
    }

    .showPen:nth-child(1) {
        width: 100% !important;
        border: 1px solid blue;
    }
    .displayPensList {
        display: flex;
        border: 1px solid yellow;
        width: 100%;
        flex-wrap: wrap;
    }

   

   

}