.container{
display: flex;
}

.accountLink {
    text-decoration: none;
    color: black;
    margin-top: -10px;
    display: flex;
}

.set-logout{
    margin-left: 2px;
    font-family: 'Lato', sans-serif;
}