@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

// Font colors
$text-white: #FFFFFF;
$text-grey: #9396A4;



// Background-colors
$bg-twitter: #60B5F0; 
$bg-github: #7B7E8C;
$bg-facebook: #4464A2;


// Link Colors
$link-blue: #75D8FC;
$link-dark-blue: #0A73B4;


// button colors
$btn-green: #47CF73;
$btn-green-hover: #2FB45A;
$btn-black-background: #36383f;


// Font Family
$font-lato: 'Lato', sans-serif; 
$font-BHS: 'Black Han Sans', sans-serif;
$font-Black-Han-Sans: 'Black Han Sans', sans-serif;
