@import url(./reset.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Lato");
.editor {
  display: flex;
  text-align: left; }

.CodeMirror {
  font-size: 14px;
  height: 100%;
  width: 33.3vw;
  font-family: 'Source Code Pro'; }

.CodeMirror-scroll {
  width: 33.3vw;
  background-color: #1D1E22; }

.CodeMirror-gutter {
  width: 15px !important;
  background-color: #36383F;
  margin-right: 10px; }

span {
  font-size: 10px;
  /* padding-left: 10px; */ }

.CodeMirror-gutters {
  margin-right: 30px;
  background-color: #1D1E22 !important;
  border: none !important; }

.CodeMirror-linenumber {
  font-size: 10px;
  color: #36383F !important;
  line-height: 2; }

.CodeMirror-hscrollbar {
  width: 0px; }

span {
  word-wrap: break-word; }

.CodeMirror-scroll::-webkit-scrollbar {
  width: 5px; }

.CodeMirror-scroll::-webkit-scrollbar-track {
  background-color: #1D1E22; }

.CodeMirror-scroll::-webkit-scrollbar-thumb {
  background-color: #666B7A;
  outline: 1px solid #C5C8D4; }

.penFrame {
  width: 100vw; }

.editorHead {
  width: 100vw;
  height: 30px;
  background-color: #1A1B1F;
  margin: 0px; }

.divider {
  width: 15px;
  height: 30px;
  background-color: #36383F;
  margin-right: 10px; }

.section {
  width: 33.3vw;
  display: inline-block; }

.section button,
.section h3 {
  display: inline-block;
  color: #C5C8D4; }

.section button {
  background-color: #4E505A; }

.Name {
  color: white;
  background-color: black;
  font-size: 26px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  margin-left: 10px;
  cursor: pointer; }

.navbar {
  display: flex;
  background-color: black;
  height: 65px;
  align-items: center; }

.icon {
  height: 30px;
  margin-left: 5px;
  margin-right: 5px; }

.Your {
  color: #6795eb;
  margin-left: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  top: 20px; }

.Prof-pens {
  color: white;
  margin-left: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  top: 20px; }

.h-line {
  height: 4px;
  width: 50px;
  background: black;
  position: relative;
  top: 30px;
  left: 5px; }

.Ex-line {
  height: 4px;
  width: 45px;
  background: black;
  position: relative;
  top: 30px;
  left: 5px; }

.Pj-line {
  height: 4px;
  width: 65px;
  background: black;
  position: relative;
  top: 10px; }

.Coll-line {
  height: 4px;
  width: 82px;
  background: black;
  position: relative;
  top: 10px;
  left: 20px; }

.Prof-holder {
  height: 70px;
  width: 70px;
  position: relative;
  left: 35px; }

.Prof-holder:hover .h-line {
  background: linear-gradient(to right, rgba(29, 189, 255, 0.8) 0%, rgba(233, 204, 59, 0.8) 34%, rgba(173, 96, 228, 0.8) 68%, rgba(75, 207, 115, 0.8) 100%); }

.Prof-holder:hover .Ex-line {
  background: #0ebeff; }

.Prof-holder:hover .Pj-line {
  background: yellow; }

.Prof-holder:hover .Coll-line {
  background: #db43db; }

.Proj {
  color: white;
  margin-left: 1px;
  margin-top: 34px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  cursor: pointer; }

.Coll {
  color: white;
  margin-left: 18px;
  margin-top: 34px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  cursor: pointer; }

.Expl {
  color: #f3f378;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  top: 20px; }

.CreateBtn {
  background-color: #36383F;
  height: 45px;
  width: 112px;
  border-radius: 3px;
  margin-left: 61%;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer; }

.Create {
  margin-left: 15px;
  font-family: 'Lato', sans-serif; }

.greenArrow {
  height: 18px;
  margin-left: 8px; }

.mag {
  height: 33px;
  margin-left: 14px;
  fill: gray;
  cursor: pointer; }

.Bell {
  height: 36px;
  margin-left: 10px;
  cursor: pointer; }

.userPic {
  height: 45px;
  width: 45px;
  background-color: gray;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer; }
