@import url(./reset.css);
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Telex");
.component-login {
  font-family: "Lato", sans-serif;
  background: url("https://static.codepen.io/assets/logos/codepen-logo-pattern-725360e4ce5b66f968c7f39c80999bdeaa3cbe2f18eac75d58b01f8cf55c26ab.png");
  background-repeat: repeat;
  height: 140vh; }
  .component-login input:active {
    border: 3px solid #9396A4; }
  .component-login .login-container {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 5rem; }
  .component-login .login-types {
    display: flex;
    justify-content: space-between; }
    .component-login .login-types .login-controls {
      display: flex;
      align-items: center;
      margin-top: 2rem; }
      .component-login .login-types .login-controls p {
        color: #75D8FC;
        margin-left: 1.5rem; }
        .component-login .login-types .login-controls p:hover {
          cursor: pointer;
          color: #FFFFFF; }
      .component-login .login-types .login-controls .btn-green {
        background-color: #47CF73;
        border: none;
        padding: 15px;
        border-radius: 5px;
        font-size: 1rem; }
        .component-login .login-types .login-controls .btn-green:hover {
          background-color: #2FB45A;
          cursor: pointer; }
  .component-login .logo {
    margin-bottom: 0.5rem; }
  .component-login h1 {
    color: #FFFFFF;
    font-size: 3.5rem;
    margin-bottom: 1.5rem; }
  .component-login h5 {
    color: #9396A4;
    margin-bottom: 0.25rem; }
  .component-login .login-inputs {
    width: 45%; }
    .component-login .login-inputs .input-group {
      margin-bottom: 1rem; }
      .component-login .login-inputs .input-group input {
        width: 100%;
        padding: 15px 5px;
        border-radius: 5px; }
      .component-login .login-inputs .input-group:last-child {
        margin-top: 1rem; }
  .component-login .login-divider {
    display: flex;
    flex-direction: column;
    width: 0.3%; }
    .component-login .login-divider .divider-top,
    .component-login .login-divider .divider-bottom {
      height: 50%;
      background-color: #9396A4; }
    .component-login .login-divider .divider-text-container {
      border: 1px solid #9396A4;
      padding: 10px 5px;
      height: 10%;
      width: 1000%;
      border-radius: 5px;
      position: relative;
      right: 17px;
      color: #9396A4;
      text-align: center; }
      .component-login .login-divider .divider-text-container .divider-text {
        display: flex;
        align-items: center;
        height: 100%; }
  .component-login .reset {
    width: 93%;
    max-height: 250px;
    transition: all 0.5s; }
  .component-login .reset-styles {
    background-color: #32333B;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    margin-top: 2rem;
    opacity: 1;
    transition: all 5s; }
    .component-login .reset-styles h3 {
      color: #9396A4;
      font-size: 1.75rem;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid #9396A4; }
    .component-login .reset-styles .reset-input-group {
      margin-top: 0.75rem; }
      .component-login .reset-styles .reset-input-group h6 {
        color: #9396A4;
        margin-bottom: 0.2rem; }
      .component-login .reset-styles .reset-input-group input {
        padding: 1rem 0.8rem;
        border-radius: 5px;
        width: 75%;
        margin-bottom: 1rem; }
    .component-login .reset-styles .reset-button {
      width: 90%; }
      .component-login .reset-styles .reset-button button {
        background-color: rgba(78, 80, 90, 0.2);
        padding: 1rem 0.5rem;
        border: none;
        border-radius: 5px;
        color: #FFFFFF;
        width: 100%;
        font-size: 1.125rem; }
      .component-login .reset-styles .reset-button button:hover {
        background-color: #4e505a;
        cursor: pointer; }
  .component-login .hidden {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
    transition: all 0.5s; }
  .component-login .login-socials {
    width: 36%; }
    .component-login .login-socials .social button {
      padding: 8px 15px;
      width: 100%;
      color: #FFFFFF;
      margin-top: 0.5rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem; }
      .component-login .login-socials .social button .button-content {
        display: flex;
        align-items: center; }
      .component-login .login-socials .social button:hover {
        background-color: #E6E2E4;
        cursor: pointer; }
      .component-login .login-socials .social button i {
        font-size: 1.8rem;
        margin-right: 1rem; }
    .component-login .login-socials .facebook {
      background-color: #4464A2; }
      .component-login .login-socials .facebook:hover {
        color: #4464A2; }
    .component-login .login-socials .twitter {
      background-color: #60B5F0; }
      .component-login .login-socials .twitter:hover {
        color: #60B5F0; }
    .component-login .login-socials .github {
      background-color: #7B7E8C; }
      .component-login .login-socials .github:hover {
        color: #000; }
  .component-login .signup-container {
    margin-top: 2.5rem;
    padding: 1.2rem;
    background-color: #32333B;
    display: flex;
    justify-content: center;
    align-items: center; }
    .component-login .signup-container p {
      color: #FFFFFF; }
    .component-login .signup-container p:last-child {
      color: #75D8FC;
      margin-left: 1px; }
      .component-login .signup-container p:last-child:hover {
        color: #FFFFFF;
        cursor: pointer; }

.editor {
  display: flex;
  text-align: left; }

.CodeMirror {
  font-size: 14px;
  height: 100%;
  width: calc(33.3vw - 3px);
  font-family: 'Source Code Pro';
  border-bottom: 15px solid #36383F; }

.CodeMirror textarea {
  z-index: -1; }

.CodeMirror-scroll {
  width: 33.3vw;
  background-color: #1D1E22;
  padding-top: 30px; }

.CodeMirror-sizer {
  border-top: 0.5px solid #36383F; }

.CodeMirror-gutter {
  width: 15px !important;
  background-color: #36383F;
  margin-right: 10px; }

span {
  font-size: 10px; }

.CodeMirror-gutters {
  margin-right: 30px;
  background-color: #1D1E22 !important;
  border: none !important; }

.CodeMirror-linenumber {
  font-size: 10px;
  color: #36383F !important;
  line-height: 2; }

.CodeMirror-hscrollbar {
  width: 0px; }

span {
  word-wrap: break-word; }

.CodeMirror-scroll::-webkit-scrollbar {
  width: 5px; }

.CodeMirror-scroll::-webkit-scrollbar-track {
  background-color: #1D1E22; }

.CodeMirror-scroll::-webkit-scrollbar-thumb {
  background-color: #666B7A;
  outline: 1px solid #C5C8D4; }

.penFrame {
  width: calc(100vw - 10px);
  min-height: calc(100vh - 100px); }

.editorHead {
  width: 100vw;
  height: 5px;
  background-color: #36383F;
  margin: 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black; }

.editorSection {
  width: calc(33vw - 30px);
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  background-color: #1D1E22;
  z-index: 500;
  position: relative;
  top: 15px;
  left: 0px;
  padding-left: 20px; }

.settingsImg {
  width: 10px;
  height: 10px;
  padding: 4px 4px 2px 4px; }

.editorSection button,
.editorSection h3 {
  display: inline-block;
  color: #C5C8D4;
  border-radius: 4px;
  margin: 5px;
  font-family: "Lato", sans-serif; }

.editorSection button {
  background-color: #4E505A; }

.penFooter {
  height: 20px;
  width: calc(100vw - 50px);
  background-color: #36383F;
  margin-top: -3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px; }

.penFooter button {
  background-color: #1D1E22;
  color: white;
  font-size: 10px;
  padding: 2px;
  border-radius: 2px; }

.codeEditor {
  overflow-y: hidden; }

.Nav {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.nav1 {
  background: black;
  display: flex;
  align-items: center;
  height: 63px;
  width: 100%; }

.navContnr {
  display: flex;
  align-items: center; }

.icon {
  height: 26px;
  position: relative;
  top: 5px; }

.Name {
  width: 10%;
  min-width: 175px;
  display: flex;
  align-items: bottom;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-left: 15px;
  font-size: 24px;
  position: relative;
  bottom: 2px;
  cursor: pointer; }

.Your {
  color: lightskyblue;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding-bottom: 4px; }

.Prof {
  color: white;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode";
  font-size: 16px; }

.Exp {
  color: yellow;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding-bottom: 4px; }

.Proj {
  color: white;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode";
  position: relative;
  top: 8px;
  font-weight: 500; }

.Coll {
  color: white;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode";
  position: relative;
  top: 9px; }

.divProf {
  height: 70px;
  width: 80px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer; }

.divProf:hover .h-line {
  background: linear-gradient(to right, rgba(29, 189, 255, 0.8) 0%, rgba(233, 204, 59, 0.8) 34%, rgba(173, 96, 228, 0.8) 68%, rgba(75, 207, 115, 0.8) 100%); }

.divExp:hover .p-line {
  background: #0077ff; }

.divProj:hover .prj-line {
  background: yellow; }

.divColl:hover .coll-line {
  background: #ae63e4; }

.h-line {
  height: 4px;
  width: 50px;
  background: black;
  position: relative;
  top: 13px; }

.p-line {
  height: 4px;
  width: 50px;
  background: black;
  position: relative;
  top: 13px; }

.prj-line {
  height: 4px;
  width: 59px;
  background: black;
  position: relative;
  top: 21px; }

.coll-line {
  height: 4px;
  width: 80px;
  background: black;
  position: relative;
  top: 20px; }

.divExp {
  height: 70px;
  width: 80px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer; }

.divProj {
  height: 70px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 13px;
  cursor: pointer; }

.divColl {
  height: 70px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 13px;
  cursor: pointer; }

.nav2 {
  display: flex;
  min-width: 150px;
  float: right;
  position: absolute;
  right: 10px; }

.create {
  height: 45px;
  width: 108px;
  border-radius: 3px;
  background: #36383F;
  color: white;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode";
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.create:hover {
  background: #6e6d6d; }

.arrow {
  height: 30px; }

.divMag {
  border-radius: 50px;
  background: #898e9e;
  position: relative;
  left: 15px;
  height: 40px; }

.mag {
  height: 45px;
  cursor: pointer; }

.divMag:hover {
  background: #cfcece; }

.bell {
  height: 35px;
  margin-left: 15px;
  margin-top: 6px;
  cursor: pointer; }

.userIcon {
  height: 44px;
  width: 44px;
  background: gray;
  border-radius: 3px;
  margin-left: 15px;
  cursor: pointer; }

.createWindow:hover {
  background: white; }

.newPen {
  height: 50px;
  width: 99%;
  border: 1px lightgray solid;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center; }

.icon1 {
  height: 30px;
  margin-left: 8px;
  margin-right: 15px;
  border-radius: 3px; }

.show-nav {
  display: none; }

.createWin {
  height: 51px;
  width: 250px;
  background: #cecccc;
  position: absolute;
  z-index: 1000;
  left: 77.3%;
  top: 55px;
  border-radius: 3px;
  display: inline;
  transition: .8s height ease-out; }

.grayLine {
  height: 263px;
  width: 100%;
  background-image: url(https://tponsukcharoen.github.io/KhanAcademyThailand/bg-blue.jpg); }

.b-line {
  height: 70px;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  min-width: 300px; }

.Content {
  height: 150vh;
  width: 100%;
  background: #191A1D; }

.UserInfo {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  left: 45%;
  top: 174px;
  align-items: center;
  text-align: center; }

.UserName {
  font-size: 36px;
  margin-bottom: 15px;
  font-family: 'Telex', sans-serif;
  font-weight: 600; }

.Name2 {
  margin-bottom: 18px; }

.UserPic {
  height: 130px;
  width: 130px;
  background: #181818;
  position: relative;
  left: 16px;
  border: 4px #2e2d2d solid;
  box-shadow: 1px 1px #1d1c1c; }

.Hire {
  font-family: 'Lato', sans-serif;
  position: relative;
  left: 95%;
  font-size: 11px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 3px;
  min-width: 42px;
  cursor: pointer; }

.Hire:hover {
  background: whitesmoke;
  color: black; }

.followers {
  color: gray;
  font-family: 'Lato', sans-serif;
  margin-left: 20px;
  cursor: pointer; }

.followers:hover {
  color: whitesmoke; }

.EditP {
  height: 40px;
  width: 80px;
  z-index: 8;
  position: absolute;
  color: white;
  font-family: 'Lato', sans-serif;
  top: 85px;
  right: 40px;
  padding-left: 13px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  border: 3px solid white;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer; }

.EditP:hover {
  background: whitesmoke;
  color: black; }

.Pen-InputWrapper {
  height: 30px;
  width: 60%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  color: gray;
  margin-left: 20px;
  position: relative;
  left: 18%;
  top: 6%; }

.Pens2 {
  color: white;
  margin-right: 20px; }

.Proj2 {
  margin-right: 20px; }

.Inp-box {
  height: 30px;
  border-radius: 4px;
  z-index: 8;
  position: relative;
  left: 70%;
  top: 60px; }

.ligthgray-line {
  height: 5px;
  width: 60.2%;
  background: gray;
  position: relative;
  left: 19%;
  top: 5%; }

.gray-line {
  height: 50px;
  width: 60.2%;
  background: #252527;
  position: relative;
  left: 19%;
  top: 5%; }

.Pen-window {
  height: 600px;
  width: 60.2%;
  background: white;
  border-radius: 10px;
  position: relative;
  top: 6%;
  left: 19%; }

.footer {
  height: 200px;
  width: 100%;
  background: #111;
  position: absolute;
  top: 136vh; }

.nameHolder {
  display: flex;
  width: 175px;
  color: white;
  align-items: center;
  height: 63px;
  position: relative;
  left: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end; }

.Name-footer {
  width: 10%;
  min-width: 175px;
  display: flex;
  align-items: bottom;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-left: 15px;
  font-size: 24px;
  position: relative;
  bottom: 2px;
  margin-top: 30px;
  cursor: pointer; }

.icon-footer {
  height: 26px;
  margin-left: 2px;
  margin-right: 2px; }

.demo {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  margin: 10px;
  font-style: italic; }

.Clonpen {
  font-family: 'Lato', sans-serif;
  margin: 10px;
  margin-top: 35px;
  font-size: 12px; }
